<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlexDbModules\CustomerSurvey\Api\Data\SurveyInterface"
                type="AlexDbModules\CustomerSurvey\Model\Survey" />

    <preference for="AlexDbModules\CustomerSurvey\Api\SurveyRepositoryInterface"
                type="AlexDbModules\CustomerSurvey\Model\SurveyRepository" />
</config>
