<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <premium_access>
            <options>
                <access>0</access>
            </options>
        </premium_access>
    </default>
</config>
