<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="premium_access" translate="label tab" sortOrder="150" showInDefault="1" showInStore="1" showInWebsite="1">
            <label>Premium Access</label>
            <tab>customer</tab>
            <resource>Magento_Backend::admin</resource>

            <group id="options"  translate="label" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1">
                <label>Options</label>
                <field id="access" translate="label comment" type="select" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20">
                    <label>Grant premium access</label>
                    <comment>Give premium access to the user</comment>
                    <source_model>AlexModules\PremiumAccess\Model\PremiumAccessCustomOptions</source_model>
                </field>
            </group>

        </section>
    </system>
</config>
