<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AlexDbModules_CustomerSurvey::survey_result_menu"
             title="Customer Survey Results"
             module="AlexDbModules_CustomerSurvey"
             resource="AlexDbModules_CustomerSurvey::survey_result"
             translate="title toolTip"
             sortOrder="25"
             toolTip="Survey Results" />
        <add id="AlexDbModules_CustomerSurvey::survey_result_menu_grid"
             title="Grid"
             module="AlexDbModules_CustomerSurvey"
             resource="AlexDbModules_CustomerSurvey::survey_result_grid"
             translate="title"
             parent="AlexDbModules_CustomerSurvey::survey_result_menu"
             action="customersurvey/survey/result" />
<!--        <add id="AlexDbModules_CustomerSurvey::survey_results_menu_edit"-->
<!--             title="Add new item"-->
<!--             module="AlexDbModules_CustomerSurvey"-->
<!--             resource="AlexDbModules_CustomerSurvey::survey_results_edit"-->
<!--             translate="title"-->
<!--             parent="AlexDbModules_CustomerSurvey::survey_results_menu"-->
<!--             action="customersurvey/survey/edit" />-->
    </menu>
</config>
