<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlexDbModules\Contacts\Api\Data\ContactsInterface"
    type="AlexDbModules\Contacts\Model\Contacts" />

    <preference for="AlexDbModules\Contacts\Api\ContactsRepositoryInterface"
    type="AlexDbModules\Contacts\Model\ContactsRepository" />
</config>
