<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <store_products_types>
            <store_types>
                <is_monotyped>1</is_monotyped>
            </store_types>
        </store_products_types>
    </default>
</config>
